{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/quan_dao_logo.jpg' %}" alt="Store Logo" width="100" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
                aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% url 'home' as home_url %}
                {% url 'about' as about_url %}
                {% url 'classes-overview' as classes_overview_url %}
                {% url 'login' as login_url %}
                {% url 'register' as register_url %}
                {% url 'schedule-list' as schedule_list_url %}
                {% url 'schedule-create' as schedule_create_url %}

                <!-- Home Link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}"
                       href="{{ home_url }}">Home</a>
                </li>

                <!-- About Us Link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == about_url %}active{% endif %}"
                       href="{{ about_url }}">About Us</a>
                </li>

                <!-- Martial Arts Classes Link -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == classes_overview_url %}active{% endif %}"
                       href="{{ classes_overview_url }}">Classes</a>
                </li>

                <!-- Schedule Management -->
                {% if user.is_authenticated %}
                    <!-- View Schedules -->
                    {% if user.is_staff or user.profile.role == 'instructor' %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == schedule_list_url %}active{% endif %}"
                               href="{{ schedule_list_url }}">Schedules</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if not request.user.is_authenticated %}
                    <!-- Login Link -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                           href="{{ login_url }}">Log in</a>
                    </li>
                {% else %}
                    <!-- Profile Link -->
                    {% if user.profile %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'profile-details' pk=request.user.profile.pk %}">Profile</a>
                        </li>
                    {% endif %}

                    <!-- Logout Link Styled as a Regular Nav Link -->
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn-link">
                                Logout
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
